---
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&amp;display=swap" rel="stylesheet">
    {% include head/custom.html %}
  </head>

  <body class="profile-site">
    {% include browser-upgrade.html %}

    <main class="profile-page" id="main-content">
      <article class="profile-page__inner" itemscope itemtype="https://schema.org/Person">
        {{ content }}
      </article>
    </main>

  </body>
</html>
